section {
  width: 1000px;
  height: 2000px;
}
.header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid black;
}
main div span {
  display: block;
}
.main_title {
  display: flex;
}
.main_title-box {
  width: 150px;
  height: 200px;
}
/* .main_title:nth-child(3) {
  flex-grow: 2;
}
.main_title-box:nth-child(3) {
  flex-grow: 2;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 300px;
  justify-content: space-around;
}
.circle {
  width: 200px;
  height: 200px;
  background: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle:nth-child(2) {
  align-content: flex-end;
}
.container_2 {
  background-color: blue;
}
